body {
    background-color: #313e23;
    font-family: "Overlock", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container-main {
    margin-top: 100px !important;
    background-color: #40492d;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    max-width: 90%;
    text-align: center;
}

h1 {
    font-family: "Overlock SC", serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

p {
    line-height: 1.8;
    margin: 0 auto;
    max-width: 700px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    background-color: #313e23;
    opacity: 0.8;
    align-self: center;
    margin-right: 5%;
    margin-left: 5%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container-navigation {
    padding: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navbar-nav a {
    font-family: "Overlock", serif;
    color: white;
    font-size: 26px;
    text-transform: capitalize;
}

.navbar-brand img {
    height: 80px;
    width: auto;
    transition: transform 0.3s ease;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.navbar-brand img:hover  {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.nav-icon a:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.header-image {
    background-image: url("kuvat/img-herokuva-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.container-candles {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
}

.row-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 120px;
}

.image-main {
    width: 50%;
}

.image-main img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1.5px solid #dda15e;
}

.text {
    margin-top: 30px;
    width: 40%;
    padding-left: 20px;
    color: #ffffff;
}

.text p {
    line-height: 1.6;
    font-size: 1.5rem;
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 7px 15px;
    margin-top: 100px;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    background-color: #dda15e;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #bc8544;
    transform: scale(1.03);
    color: rgb(255, 255, 255);
}

.footer {
    background-color: #40492d;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

.footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.footer img {
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.footer img:hover {
    transform: scale(1.1);
}

.line {
    margin: 10px auto;
    border: 0;
    border-top: 1px solid white;
    max-width: 800px;
}

@media (max-width: 768px) {
    header .navbar {
        background-color: transparent;
        font-family: "Overlock SC", serif;
        color: white;
        padding: 0;
        margin-left: 2%;
        margin-right: 2%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }

    .navbar-nav a {
        font-size: 14px;
    }

    .navbar-logos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navbar-logos img {
        height: 20px;
        width: auto;
        margin-left: 10px;
        margin-right: 0;
        gap: 10px;
    }

    .navbar-brand img {
        display: none;
        margin-left: 0;
        height: 0;
        width: auto;
    }

    .footer,
    .row {
        flex-direction: column;
        text-align: center;
    }

    .image, .text {
        width: 100%;
        padding-left: 0;
    }

    .image img {
        max-height: 300px;
        object-fit: cover;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .images {
        margin-bottom: 20px;
    }
}
